<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lpf.mysuperdemo"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 扫描二维码start -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 扫描二维码end -->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 公共WebClient类 -->
        <activity
            android:name=".activity.CommonWebClientActivity"
            android:screenOrientation="portrait" />

        <!-- ****************图片类 start**************** -->
        <activity
            android:name=".activity.PictureDemosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HorizontalListViewActivity"
            android:screenOrientation="portrait" />

        <!-- 图片轮播 -->
        <activity
            android:name=".activity.AutoPlayViewPagerActivity"
            android:screenOrientation="portrait" />
        <!-- ****************图片类 end**************** -->


        <!-- ****************数据操作类  start**************** -->
        <!-- 数据操作类 -->
        <activity
            android:name=".activity.DataDemosActivity"
            android:screenOrientation="portrait" />
        <!-- 请求数据 -->
        <activity
            android:name=".activity.RequestForDataActivity"
            android:screenOrientation="portrait" />

        <!-- 发送数据 -->
        <activity
            android:name=".activity.ResponseForDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DataFileDownLoadActivity"
            android:screenOrientation="portrait" />

        <!-- 数据库操作 -->
        <activity
            android:name=".activity.DataDbActivity"
            android:screenOrientation="portrait" />
        <!-- ****************数据操作类  end**************** -->


        <!-- ****************网络操作类 start**************** -->
        <!-- 网络监听 -->
        <activity
            android:name=".activity.NetChangeActivity"
            android:screenOrientation="portrait" />
        <!-- ****************网络操作类 end**************** -->


        <!-- ****************自定义控件start**************** -->


        <!-- 自定义控件DemoList -->
        <activity
            android:name=".activity.CustomDemosActivity"
            android:screenOrientation="portrait" />
        <!-- 自定义带有删除按钮的editText -->
        <activity
            android:name=".activity.CustomDeleteEditTextActivity"
            android:screenOrientation="portrait" />

        <!-- 自定义弹出对话框 -->
        <activity
            android:name=".activity.CustomDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomDialogShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogTopRight" />
        <activity
            android:name=".activity.CustomWidgetActivity"
            android:screenOrientation="portrait" />

        <!-- ListView结合RatioButton选择 -->
        <activity
            android:name=".activity.PartnerActivity"
            android:screenOrientation="portrait" />
        <!-- 扫描二维码 -->
        <activity
            android:name=".activity.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrcode.ResultActivity"
            android:screenOrientation="portrait" />

        <!-- listView加载更多 -->
        <activity
            android:name=".activity.CustomListViewLoadMoreActivity"
            android:screenOrientation="portrait" />

        <!-- 搜索列表页面 -->
        <activity
            android:name=".activity.CustomSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomSearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomSearchBarActivity"
            android:label="@string/title_activity_custom_search_bar" >
        </activity>
        <activity
            android:name=".splash_welcome.SplashActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".splash_welcome.WelcomeActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- ****************自定义控件end**************** -->


        <!-- ****************框架布局start**************** -->
        <activity
            android:name=".activity.FrameDemosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FrameSlidingMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FrameRadioGroupActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".welcomepager.WelcomePagerActivity"
            android:screenOrientation="portrait"/>
        <!-- ****************框架布局end**************** -->


        <!-- ****************H5相关操作 start**************** -->
        <activity
            android:name=".activity.H5BackToNativeActivity"
            android:screenOrientation="portrait" />
        <!-- ****************H5相关操作 end**************** -->


        <!-- 当前测试 -->
        <activity
            android:name=".activity.Test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recyclerviewdemo.RecyclerViewDemo"
            android:label="@string/title_activity_recycler_view_demo" >
        </activity>
        <activity
            android:name=".activity.HorizontalRecyclerViewActivity"
            android:label="@string/title_activity_horizontal_recycler_view" >
        </activity>
        <activity
            android:name=".daojishi.DaojishiActivity"
            android:label="@string/title_activity_daojishi" >
        </activity>

        <service
            android:name=".daojishi.Daojishiservice"
            android:enabled="true"
            android:exported="true" >
        </service>

        <!--
            <receiver
            android:name=".broadcastreceiver.MyReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        -->

        <activity
            android:name=".broadcastreceiver.MyBCRActivity"
            android:label="@string/title_activity_my_bcr" >
        </activity>
        <activity
            android:name=".contentprovider.MyContentProviderActivity"
            android:label="@string/title_activity_my_content_provider" >
        </activity>
        <activity
            android:name=".activity.CustomViewActivity"
            android:label="@string/title_activity_custom_view" >
        </activity>
        <activity
            android:name=".activity.CalendarDemoActivity"
            android:label="@string/title_activity_calendar_demo" >
        </activity>
    </application>

</manifest>
